<div id="tcPlan" style="display:none">
    <div ><h3>Select Iteration:</h3></div>

    <div>
        <select data-placeholder="Choose an Iteration..." id="plan-release-select" tabindex="3">
            <option></option>
        </select>
        <button type="button" id="btnGetPlan" class="btn btn-primary" data-loading-text="Loading...">Display Plan</button></div>
    <div>
        <div id="alertNoPlanfound" class="alert alert-error hide" stlye="width:200px;">
            No plan found for given iteration!
        </div>
    </div>


    <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown trigger</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            ...
        </ul>
    </div>

    <div id="planGridContainer" style="display:none;" class="accordion">

    </div>

</div>