<div id="tcPlan" style="display:none">
    <div id="plan-controls">
        <div ><h3>Select Iteration:</h3></div>

        <div>
            <select data-placeholder="Choose an Iteration..." id="plan-release-select" tabindex="3">
                <option></option>
            </select>
            <button type="button" id="btnGetPlan" class="btn btn-primary" data-loading-text="Loading...">Display Plan</button></div>
        <div>
            <div id="alertNoPlanfound" class="alert alert-error hide" stlye="width:200px;">
                No plan found for given iteration!
            </div>
        </div>
    </div>
    <div id="planContainer" style="display:none;">
        <ul class="nav nav-tabs">
            <li><a href="#plan-summary" data-toggle="tab">Summary</a></li>
            <li><a href="#plan-details" data-toggle="tab">Details</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="plan-summary" style="width: 80%; margin-left: auto; margin-right: auto;">
                   <table class="table" style="background: #ffffff;">
                       <thead>
                            <tr>
                                <th>Issue</th>
                                <th>Summary</th>
                                <th>Test Cases Count</th>
                            </tr>
                       </thead>
                       <tbody id="plan-summary-table-body" ></tbody>
                   </table>
            </div>
            <div class="tab-pane" id="plan-details" >
                <div id="planGridContainer"  class="accordion" style=" background: #ffffff;"/>
            </div>
        </div>
    </div>
    <div class="progress" id="planProgressBar" style="width: 700px; margin-left: 20%; margin-top: 10%; display: none;">
        <div class="bar" style="width: 0%;"></div>
    </div>
</div>