<div id="projectView">
    <div class="project-cofig" project-id="">
        <div class="interop-projects">
            <div class="well well-small run-status">
                <span class="new-bug-url">Bugs URL: <input type="text" disabled="true" class="new-bug-url"/></span>
            </div>
            <div class="well well-small run-status">
                <div class="spring-config">
                    <span class="iter-per-spring">Iterations per Spring: <input type="text" disabled="true" class="iter-per-spring"/></span>
                    <span class="iter-duration">Iteration duration (weeks): <input type="text" disabled="true" class="iter-duration"/></span>
                </div>
            </div>
        </div>
        <button class="btn btn-mini btn-promary projec-config-save" data-loading-text="saving" >Save</button>
    </div>
</div>