<div id="projectView">
    <div class="project-cofig" project-id="">
        <div class="interop-projects">
            <div class="well well-small ">
                <span class="new-bug-url">Bugs URL: <input type="text" disabled="true" class="new-bug-url"/></span>
            </div>
            <div class="well well-small ">
                <div class="config">
                    <span class="iter-per-spring">Iterations per Spring: <input type="text" disabled="true" class="iter-per-spring"/></span>
                    <span class="iter-duration">Iteration duration (weeks): <input type="text" disabled="true" class="iter-duration"/></span>
                </div>
            <button class="btn btn-mini btn-promary projec-config-save" data-loading-text="saving" >Save</button>
            </div>
        </div>

        <div class="well well-small " style="position:relative;min-height:400px;">
            <div class="config releases">
                <!-- <button class="btn btn-mini btn-new-release" data-loading-text="saving" >New Release</button> -->
                <div class="release-table-container well">
                    <table style="margin-bottom: 12px;">
                        <thead>
                                <tr>
                                    <th>Release Name</th>
                                </tr>
                       </thead>
                   </table>
                    <div class="table-wrapper">
                        <table id="releases-table" class="table" style="">
                           <tbody>
                           </tbody>
                       </table>
                   </div>
               </div>
               <div class="new-release-config" style="">
                    <span >Release Name: (without "Release")<input type="text" disabled="true" id="new-release-name" /></span>
                    <span >Release Start: <input type="text" disabled="true"  class="rstart"/></span>
                    <span >Release End: <input type="text" disabled="true"  class="rend"/></span>
                    <button class="btn btn-mini btn-save-release" data-loading-text="saving" >Save </button>
                </div>
             </div>
             <div class="config iterations"> 
                <div class="iterations-table-container well">
                    <table style="margin-bottom: 12px;">
                        <thead>
                                <tr>
                                    <th>Iteration Name</th>
                                </tr>
                       </thead>
                   </table>
                    <div class="table-wrapper">
                        <table id="iterations-table" class="table" style="">
                           <tbody>
                           </tbody>
                       </table>
                   </div>
               </div>      
                <div class="new-iteration-config" style="">
                    Create a new iteration for a release
                    <span> Choose a release: 
                        <select data-placeholder="Releases"
                            id="release-select-project" tabindex="3">
                        <option></option>
                    </select>
                    </span>
                    <span >Iteration Name: <input type="text" disabled="true" id="new-iter-name" /></span>
                    <button class="btn btn-mini btn-save-iter" data-loading-text="saving" >Save</button>
                </div>
            </div>
        </div>
         <div class="well well-small ">
        </div>
    </div>
</div>