<div id="feature-container">
    <div class="feature-actions">
        <div class="feature-buttons">
            <input type="text" id="feature-filter" ng-model="filter"/>{{filter}}
            <div id="add-feature" type="button" title="Add new Item" class="" disabled="true">
                <i class="icon-plus-sign icon-white"></i>
            </div>
            <div id="filter-completed-features" title="Filter completed features" type="button" class="" data-toggle="button" disabled="true">
                <i class="icon-filter icon-white"></i>
            </div>
        </div>
    </div>
    <div class="theFeatures">
        <div ng-repeat="feature in features" feature-id="{{feature.featureid}}" ng-click='showFeatureDetails(feature)' class="feature {{feature.jiraStatus}}" >
            <div class="title-bar">
                <a target="_blank" class="jira-key" href="http://www.mulesoft.org/jira/browse/{{feature.jiraKey}}">{{feature.jiraKey}}</a>
                <div class="stats">
                    <div class="count">{{feature.executedTestCases}}/{{feature.totalTestCases}}</div>
                    <div class="progress" style="width: 40px; height: 12px; border: 1px solid rgb(108, 120, 133);" >
                        <div ng-repeat="i in [] | range:feature.execution.pass" class="bar bar-success" style="width: {{100 / feature.totalTestCases}}%;"></div>
                        <div ng-repeat="i in [] | range:feature.execution.blocked" class="bar bar-warning"  style="width: {{100 / feature.totalTestCases}}%;"></div>
                        <div ng-repeat="i in [] | range:feature.execution.failed" class="bar bar-danger" style="width: {{100 / feature.totalTestCases}}%;"></div>
                        <div ng-repeat="i in [] | range:feature.execution.inprogress" class="bar bar-info" style="width: {{100 / feature.totalTestCases}}%;"></div>
                        <div ng-repeat="i in [] | range:feature.execution.notrun" class="bar bar-notrun" style="width: {{100 / feature.totalTestCases}}%;"></div>
                    </div>
                </div>
            </div>
            <div class="summary" title="{{feature.featureName}}" style="margin-right: 0px;">{{feature.featureName}}</div>
            <i class="icon-user"></i>
            <div class="item-control-buttons">
                <i class="bt-ctrl icon-th close" style="position: absolute;left: -12px;top: 14px;"></i>
                <div class="wrapper">
                    <div class="remove-feature " style="margin-top: 5px; float:right;"><i class="icon-trash"></i></div>
                    <button type="button" class="btn btn-mini close-jira-btn " style="float: right; display: none;"><i class="icon-ok-circle open"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>