<div id="description">
    <div class="desc-header">
        <div id="desc-expander" class="detailsIcon ds detailsOpen #tcViewer desc-collapser"></div>
        <div type="button" title="Add new Item" class="add-tc">
            <i class="icon-plus-sign"></i>
        </div>
        <div type="button" title="Clone tcs" class="copy-tc" disabled="true">
            <i class="icon-copy"></i>
        </div>

        <div class="desc-header-text ds">
            <div class="jira-key" href="http://www.mulesoft.org/jira/browse/{{selectedFeature.jiraKey}}">{{selectedFeature.jiraKey}} - {{selectedFeature.featureName}}</div>
        </div>
    </div>

    <div id="desc-wrapper" style="width: 100%; height: 100px;" class="ui-resizable">
        <pre id="desc-container" class="ui-resizable" style="width: 98.10964083175803%; height: 80px;">{{selectedFeature.featureDescription}}
        </pre>
        <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
    </div>
</div>

<div id="tc-container" class="round-corner-all">
    <ng-include src="testCasesView"></ng-include>
</div>
