<div id="tc-mod" ng-show='displayEditor'>
    <div class="modal-header">
        <h5 class="rp-title">{{editorTitle}}</h5>
    </div>
    <div class="modal-body">
        <div class="tc-fields">
            <h7>Title:</h7>
            <input class="new-tc-title" type="text" style=" width: 100%; " ng-model="selectedTC.name"></input>
            <br/>
            <h7>Description:</h7>
            <textarea class="new-tc-desc" style=" width: 100%; height:200px; resize: none;" ng-model="selectedTC.description"></textarea>
        </div>
        <div class="run-tc-modal" style="display:none;">
            <div class="well well-small run-status">
                Run state:
            </div>
            Actual result:
            <textarea class="actual-result" style=" width: 100%; height:200px; resize: none;"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <div class="alert alert-error hide">
            There was an error, please try again...
        </div>
        <label class="checkbox inline" style="float:left;margin-left:5px;">
            <input type="checkbox" class="proposed" ng-checked={{selectedTC.proposed}}/> Save as proposed</label>
        <a class="btn cancel" ng-click="cancelEdit()" >Cancel</a>
        <a class="btn btn-primary save" data-complete-text="Update" data-loading-text="working..." ng-click="save()" >{{btnText}}</a>
    </div>
</div>