<style>
    #tcPlan .link-exposer {
        width: 400px;
        position: relative;
        top: -40px;
        left: 371;
        height: 0px;
    }

    #tcPlan .permalink {
        position: relative;
        top: -22px;
        left: 334;
    }


</style>
<div class='tcm-top-menu-container' ng-controller="TopMenuCntl">
    <ng-include src="topmenu"></ng-include>
</div>
<div id="tcPlan">
    <div id="plan-controls" ng-show="displayControls">
        <div ><h3>Select Iteration:</h3></div>

        <div>
            <iteration-select></iteration-select>
            <button type="button" id="btnGetPlan" class="btn btn-primary" data-loading-text="Loading..." ng-click="displayPlan()">Display Plan</button>

            <button type="button" id="get-perma-link" class="btn btn-mini " ng-click="getPermaLink()" ng-disabled="permalinkDisabled">
                <i class="icon-permalink"></i>
            </button>&nbsp;<a >{{permalink}}</a>
        </div>


        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)" stlye="width:200px;">{{alert.msg}}</alert>

    </div>


    <div id="planContainer" ng-show="displayPlanContainer">
        <ul class="nav nav-tabs" style="visibility: hidden;">
            <li><a href="#plan-summary" data-toggle="tab">Summary</a></li>
            <li><a href="#plan-details" data-toggle="tab">Details</a></li>
        </ul>
        <table class="table" style="margin: 0px auto;    width: 80%;">
            <thead>
            <tr>
                <th>Issue</th>
                <th>Summary</th>
                <th style=" float: right; ">Test Cases Count</th>
            </tr>
            </thead>
        </table>

        <div class="tab-content" >
            <div class="tab-pane active" id="plan-summary" style="width: 80%; margin-left: auto; margin-right: auto;margin-top: 10px;">

                <table class="table" >

                    <tbody ng-repeat="feature in coverageData">
                        <tr style=" cursor: pointer; " feature-id="{{feature.jiraKey}}" ng-click="feature.isColapsed = !feature.isColapsed">
                            <td class="">{{feature.jiraKey}}</td>
                            <td>{{feature.name}}</td>
                            <td>{{feature.testCase.length}}</td>
                        </tr>
                        <tr ng-show="!feature.isColapsed" class="tc-row" feature-id="{{feature.jiraKey}}">
                            <td colspan="3" style=" padding-left: 30px; " class="plan-tc-td">
                                <div ng-repeat="tc in feature.testCase" >{{tc.name}}</div>
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>
            <div class="tab-pane" id="plan-details">
                <div id="planGridContainer" class="accordion" style=" background: #ffffff;"></div>
            </div>
        </div>
    </div>
    <progress id="planProgressBar" percent="progress" style="width: 700px; margin-left: 20%; margin-top: 10%;" ng-show="displayProgressBar"></progress>

</div>