<style>

.navbar :focus {
  outline-color: transparent;
  outline-style: none;
}
.navbar-mule {
    margin-bottom: 0px;
}
.navbar-mule .navbar-inner {
    background-color: #03415f;
    background-image: -moz-linear-gradient(top,#034869,#023750);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#034869),to(#023750));
    background-image: -webkit-linear-gradient(top,#034869,#023750);
    background-image: -o-linear-gradient(top,#034869,#023750);
    background-image: linear-gradient(to bottom,#034869,#023750);
    background-repeat: repeat-x;
    border-color: #023750;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff034869', endColorstr='#ff023750', GradientType=0);
    color: #fff;
    padding-left: 68px;
    padding: 7px 0px 7px 50px;
}

.navbar-mule .dropdown-toggle {
    color:white !important;
    text-shadow:0 1px 0 black !important;
}

.navbar-mule .nav li.dropdown.open>.dropdown-toggle, .navbar-mule .nav li.dropdown.active>.dropdown-toggle, .navbar-mule  .nav li.dropdown.open.active>.dropdown-toggle {

    background-color: #03415f !important;
    box-shadow: 0px 4px 15px -3px black inset !important;
    -moz-box-shadow: 0px 4px 15px -3px black inset !important;
    -webkit-box-shadow: 0px 4px 15px -3px black inset !important;

}

.navbar-mule .active {
    box-shadow: inherit !important;
    -moz-box-shadow: inherit !important;
    -webkit-box-shadow: inherit !important;
    border:none !important;
    border-bottom: 2px solid #d2e9fa !important;
}

.navbar .time-line {
    width: 200px;
height: 40;
position: absolute;
top: 9px;
right: 184px;
opacity: 0.7;
box-shadow: inherit;
-moz-box-shadow: inherit;
-webkit-box-shadow: inherit;
}

.navbar .time-line .progress{
    margin-left: 1px;
}

.navbar .time-line .active {
    border: 1px solid #ccc !important;
}
.navbar .time-line .toggle-config-panel {
    display:none;
}
}

</style>

<div id="navbar-top-menu" class="navbar navbar-mule">
    <div class="navbar-inner">
        <div class="container" style="width: auto;">

            <ul class="nav" role="navigation">
                <li class="dropdown">
                    <a href="#" role="button" class="dropdown-toggle brand" data-toggle="dropdown">TCM <b class="caret"></b></a>
                    <ul class="dropdown-menu pull-left" role="menu" aria-labelledby="drop2">
                        <li role="presentation">
                            <a id="link-iterations" role="menuitem" tabindex="-1" href="#/manager">Iterations</a>
                        </li>
                        <li role="presentation">
                            <a id="link-suites" role="menuitem" tabindex="-1" href="#/suites">Suites</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Metrics <b class="caret"></b></a>
                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="drop2">
                        <li role="presentation"><a id="link-plan" role="menuitem" tabindex="-1" href="#/plan">Test Plan</a></li>
                        <li role="presentation"><a id="link-rls-metrics" role="menuitem" tabindex="-1" href="#/rlsmetrics">Release</a></li>
                        <li role="presentation"><a id="link-metrics" role="menuitem" tabindex="-1" href="#/metrics">Iteration</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="pluginMenu">
                    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Plugins <b class="caret"></b></a>
                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="drop2">
                        <li role="presentation"><a id="link-sync" role="menuitem" tabindex="-1" href="#/sync" style="display: none;">JIRA Sync</a></li>
                        <li role="presentation"><a id="link-export-import" role="menuitem" tabindex="-1" href="#/import-export" style="display: none;">Import/Export</a></li>
                    </ul>
                </li>
            </ul>

            <ul id="user-menu" class="nav pull-right">
                <li id="fat-menu" class="dropdown">
                    <a id="usrdrop" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        <span id="username">{{userName}}</span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                        <li role="presentation"><a role="menuitem" tabindex="-1" id="switchProject" data-toggle="modal" data-target="#modal-switchProject">Switch Project</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#project">Project Settings</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#plugins-settings">Project Plugins Settings</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" id="logout" tabindex="-1" ng-click="logout()">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <sprint-progress></sprint-progress>
    <div id="modal-switchProject" ng-class="switchProjectModalClass">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Switch Project</h3>
        </div>
        <div class="modal-body" style="overflow: visible">
            <select id="modal-switch-projects_dd" />
        </div>
        <div class="modal-footer">
            <a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
            <a class="btn btn-primary">Switch</a>
        </div>
    </div>
</div>