    <ul class="breadcrumb">
		<li class="dropdown" id="rls">
                <a href="#"  class="dropdown-toggle" data-toggle="dropdown">Select a Release <b class="caret"></b></a>
                <ul class="dropdown-menu">
                </ul>
            </li>
         <li class="dropdown" id="iter" style="display:none;">
            <span class="divider">/</span>
                <a href="#"  class="dropdown-toggle" data-toggle="dropdown">Select an Iteration <b class="caret"></b></a>
                <ul class="dropdown-menu">
                </ul>
            </li>
    </ul>