<div id="suitesViewer">
    <div class="left-center-panel">
        <div id="lp-wrapper">
            <div class='left-pannel round-corner-all'>
                <div class="toolbar">
                </div>
                <div id="feature-container">
                </div>
            </div>
        </div>
        <div class='right-pannel round-corner-all'>
            <div class="toolbar">
                <select data-placeholder="Select tags" style="width: 100%;" multiple="" tabindex="-1" id="tags-select">
                <option value=""></option>
                <option>American Black Bear</option>
                <option>Asiatic Black Bear</option>
                <option>Brown Bear</option>
                <option>Giant Panda</option>
              </select>
            </div>
            <div id="tc-container" class="round-corner-all">
            <ul id="demo3"></ul>
            </div>
        </div>
    </div>
    <div id="rp-wrapper" style="display:none;">
    </div>
</div>