<style>

/*#suitesViewer .item-control-buttons {
position: absolute;
top: 0px;
right: 0px;
width: 55px;
height: 44px;
border: 2px solid #ccc;
border-radius: 6px 0px 0px 6px;
}*/

#suitesViewer .item{
    height:48px;
}

#suitesViewer .intance-suite{
    height: 76px;
    width: 188px;
    background-color: #0f5a7f;
    z-index: 999999;
    border: 3px solid #03415f;
}

#suitesViewer .intance-suite .chzn-container{
    width: 170px;
    position: absolute;
    top: 10px;
    left: 10px;
}

#suitesViewer .intance-suite #suite-instance-itration {
        width: 170px !important;
    position: absolute;
    bottom: 6px;
    left: 10px;
}

#suitesViewer .item #suite-instance {
    float:right;
}

#suitesViewer .toolbar {
    height:30px;
}

#suitesViewer #add-suite {
  width: 21px;
height: 19px; 
float: right;
margin-right: 60px;
margin-top: 4px;
cursor: pointer; 
}
#suitesViewer #add-suite .icon-plus-sign {
width: 21px;
height: 19px;
background-size: 730px;
background-position-y: -151px;
}

body #suitesViewer #myModal {
  width: 345px; /* desired relative width */
  /*left: 25%;  (100%-width)/2 */
  /* place center */
/*  margin-left:auto;
  margin-right:auto; */
}
body #suitesViewer #myModal.fade.in {
  top: auto; /* fade in to correct spot */
}

</style>
<div id="suitesViewer">
    <div class="left-center-panel">
        <div id="lp-wrapper">
            <div class='left-pannel round-corner-all'>
                <div class="toolbar">
                </div>
                <div id="feature-container">
                </div>
            </div>
        </div>
        <div class='right-pannel round-corner-all'>
            <div class="toolbar">
                <select data-placeholder="Select tags..." style="width: 100%; display:none;" multiple="" tabindex="-1" id="tags-select" class="chzn-select">
                <option value=""></option>
              </select>
            </div>
            <div id="tc-container" class="round-corner-all">
            <ul id="demo3"></ul>
            </div>
        </div>
    </div>
    <div id="rp-wrapper" style="display:none;">
              <div class="modal-header">
            <h4 class="rp-title"></h4>
        </div>
        <div class="modal-body">
            <div class="suite-tc-fields">
                <h7>Title:</h7>
                <input class="new-tc-title" type="text" style=" width: 100%; "></input>
                <br/>
                <h7>Description:</h7>
                <textarea class="new-tc-desc" style=" width: 100%; height:200px; resize: none;"></textarea>
            </div>
            <div class="run-tc-modal" style="display:none;">
                <div class="well well-small run-status">
                    Run state: 
                </div>
                Actual result:
                <textarea class="actual-result" style=" width: 100%; height:200px; resize: none;"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <div class="alert alert-error hide">
                There was an error, please try again...
            </div>
           <!--  <label class="checkbox inline" style="float:left;margin-left:5px;">
                <input type="checkbox" class="proposed" /> Save as proposed</label> -->
            <a href="#suites" id="suite-tc-close" class="btn cancel"  >Cancel</a>
            <a href="#suites" id="suite-tc-save" class="btn btn-primary save" data-loading-text="working...">Add</a>
        </div>
    </div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h6 id="myModalLabel">Add Suite</h6>
  </div>
  <div class="modal-body">
    <p>Suite Name: <input type="text" id="suite-name"></input></p>
  </div>
  <div class="modal-footer">
    <button id="suite-close" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="suite-save" class="btn btn-primary">Save changes</button>
  </div>
</div>

<div class="intance-suite round-corner-all" style="display:none;">
    <select class="iterdd"></select>
    <button id="suite-instance-itration" class="btn btn-primary"  data-loading-text="working...">Instance</button>
</div>


</div>