<div id="tcSync" style="display:none">
    <style>
    #jiras-wrapper {
        border: 1px dashed #ccc;
        padding: 10px 15px 0px 15px;
    }

/*    #jiras-wrapper table tr:nth-child(odd) td{
    background: #ddd;
    }
    #jiras-wrapper table tr:nth-child(even) td{
        background: #ccc;
    }*/
    #jiras-wrapper table td {
        padding-left:20px;
        padding-top:3px;
        padding-bottom: 3px;
    }
    </style>
    <div><h3>Select Iteration:</h3></div>
    <div><select id="ddIterations"></select>
        <button type="button" id="btnStep1" class="btn btn-primary" data-loading-text="Loading...">Get Issues</button></div>
    <div>
        <div id="alertNoissuesfound" class="alert alert-error hide" stlye="width:200px;">
            No issues found for given iteration!
        </div>
    </div>
    <div id="issuesContainer" style="display:none;">
        <div id='navbar'>
            <div class="nav">
                <h3>Issues:</h3>
                <input type="checkbox" id="allJiras"></input>
                <button type="button" id="btnSync"  class="btn btn-primary" data-toggle="button" disabled="true" >Syncronize...</button>
            </div>
        </div>
        <div id="jiras-wrapper" ata-target="#navbar" data-spy="scroll" data-offset="10" style="display: block; overflow: scroll;">
            <div id="jiras">
                <table id="jiraItems" class="nav"></table>
            </div>
        </div>
    </div>

    <div id="sync-wrapper" style="display:none; " class="modal hide fade">
     <div class="sync-modal-content">   
        <div class="modal-header">
            <h3>Select Destination</h3>
        </div>
        <div class="modal-body" >
            <div>
                <h7>Iteration:</h7>
                <select data-placeholder="Choose an Iteration..." id="sync-release-select" tabindex="3">
                    <option></option>
                </select>
            </div>
            <div>
                <label>
                Create Release/Iteration:
                <input type="checkbox" id="checkCreateDestination"></input>
                </label>

                <div id="sync-create-wrapper">
                    <div class="modal-body">
                        <label>Release:
                        <input id="new-rls-title" type="text" disabled="true"></input>
                        </label>
                        <br/>
                        <label>Itearation:
                        <input id="new-iter-title" type="text" disabled="true"></input>
                        </label>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" id="syncCancel">Cancel</button>
            <button class="btn btn-primary" id="syncSave">Save</button>
        </div>
    </div>
        <div id="alertCompleted-Sync" class="alert alert-block fade in" style="display: none;">
            <strong style=" margin-left: 180px; ">Syncronization completed!</strong>
            <p>
                <button style=" margin-left: 238px; " class="btn" href="">close</button>
            </p>
        </div>
    </div>
</div>