<div id="copy-tc-modal" class="modal" style="display:none;">
    <div class="modal-header">
        <h4 class="feature-title">Copy TCs</h4>
    </div>
    <div class="modal-body">
        <div type="button" title="Select All" class="select-all-tc" disabled="true">
            <i class="icon-align-justify"></i>
        </div>
        <select data-placeholder="Choose an Iteration..." id="release-selector" tabindex="3" >
            <option></option>
        </select>
        <div class="panels">
            <div id="tc-container" class="panel">
            </div>
            <div id="feature-cont" class="panel">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="alert alert-error hide">
            There was an error, please try again...
        </div>
        <a href="#" class="btn cancel"  >Cancel</a>
        <a href="#" class="btn btn-primary save-copy" data-loading-text="working...">Copy</a>
    </div>
</div>