<div>
    <div id="navbar-top-menu" class="navbar navbar-static">
        <div class="navbar-inner">
            <div class="container" style="width: auto;">
                <a class="brand" href="#/viewer">TCM</a>
                <ul class="nav" role="navigation">

                    <li class="dropdown">
                        <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Metrics <b class="caret"></b></a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="drop2">
                            <li role="presentation"><a id="link-plan" role="menuitem" tabindex="-1" href="#/plan">Test Plan</a></li>
                            <li role="presentation"><a id="link-rls-metrics" role="menuitem" tabindex="-1" href="#/rlsmetrics">Release</a></li>
                            <li role="presentation"><a id="link-metrics" role="menuitem" tabindex="-1" href="#/metrics">Iteration</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Plugins <b class="caret"></b></a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="drop2">
                            <li role="presentation"><a id="link-sync" role="menuitem" tabindex="-1" href="#/sync">JIRA Sync</a></li>

                        </ul>
                    </li>
                </ul>

                <ul id="user-menu" class="nav pull-right">
                    <li id="fat-menu" class="dropdown">
                        <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">User Name<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                            <li role="presentation"><a role="menuitem" tabindex="-1" >User settings (soon)</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>