<style>
.navbar-mule {
    margin-bottom: 0px;
}
.navbar-mule .navbar-inner {
    background-color: #03415f;
    background-image: -moz-linear-gradient(top,#034869,#023750);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#034869),to(#023750));
    background-image: -webkit-linear-gradient(top,#034869,#023750);
    background-image: -o-linear-gradient(top,#034869,#023750);
    background-image: linear-gradient(to bottom,#034869,#023750);
    background-repeat: repeat-x;
    border-color: #023750;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff034869', endColorstr='#ff023750', GradientType=0);
    color: #fff;
    padding-left: 68px;
    padding: 7px 0px 7px 50px;
}

.navbar-mule .dropdown-toggle {
    color:white !important;
    text-shadow:0 1px 0 black !important;
}

.navbar-mule .nav li.dropdown.open>.dropdown-toggle, .navbar-mule .nav li.dropdown.active>.dropdown-toggle, .navbar-mule  .nav li.dropdown.open.active>.dropdown-toggle {

    background-color: #03415f !important;
    box-shadow: 0px 4px 15px -3px black inset !important;
    -moz-box-shadow: 0px 4px 15px -3px black inset !important;
    -webkit-box-shadow: 0px 4px 15px -3px black inset !important;

}

.navbar-mule .active {
    box-shadow: inherit !important;
    -moz-box-shadow: inherit !important;
    -webkit-box-shadow: inherit !important;
    border:none !important;
    border-bottom: 2px solid #d2e9fa !important;
}

</style>

<div>
    <div id="navbar-top-menu" class="navbar navbar-mule">
        <div class="navbar-inner">
            <div class="container" style="width: auto;">

                <ul class="nav" role="navigation">
                <li class="dropdown">
                    <a href="#" id="drop2" role="button" class="dropdown-toggle brand" data-toggle="dropdown">TCM <b class="caret"></b></a>
                        <ul class="dropdown-menu pull-left" role="menu" aria-labelledby="drop2">
                            <li role="presentation">
                                <a id="link-iterations" role="menuitem" tabindex="-1" href="#/viewer">Iterations</a>
                            </li>
                            <li role="presentation">
                                <a id="link-suites" role="menuitem" tabindex="-1" href="#/suites">Suites</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Metrics <b class="caret"></b></a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="drop2">
                            <li role="presentation"><a id="link-plan" role="menuitem" tabindex="-1" href="#/plan">Test Plan</a></li>
                            <li role="presentation"><a id="link-rls-metrics" role="menuitem" tabindex="-1" href="#/rlsmetrics">Release</a></li>
                            <li role="presentation"><a id="link-metrics" role="menuitem" tabindex="-1" href="#/metrics">Iteration</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Plugins <b class="caret"></b></a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="drop2">
                            <li role="presentation"><a id="link-sync" role="menuitem" tabindex="-1" href="#/sync">JIRA Sync</a></li>

                        </ul>
                    </li>
                </ul>

                <ul id="user-menu" class="nav pull-right">
                    <li id="fat-menu" class="dropdown">
                        <a href="#" id="usrdrop" role="button" class="dropdown-toggle" data-toggle="dropdown"><span id="username"></span> <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                            <li role="presentation"><a role="menuitem" tabindex="-1" >User settings (soon)</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#project">Project Settings</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" id="logout" tabindex="-1" href="login.html">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>