html {

  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 50;
  overflow:hidden;

  }
  body{
  	background: url("images/bg_tile.jpg");
  background-position: initial initial;
  background-repeat: initial initial;
    width:100%;
    height:100%;
/*     background: url("images/bg_radial@2x.png"); */
/*     background-size: 250% 270%; */
/*   background-position: center; */
  margin: 0px;
  padding-top: 20px;
  font-family: "CambridgeRound","Helvetica Neue",Helvetica,Arial,sans-serif;
color: #454545;
  }

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
  .tcm-container{
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
        box-sizing: border-box;
  overflow: hidden;
  min-width: 320px;
  border: 2px solid #ccc;
/*   box-shadow: inset -1px -1px 1px 0px #232326; */
  box-sizing: border-box;
  width: 95%;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 9px 20px 47px 20px;
  background:white;
  }

  .left-pannel{
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
        box-sizing: border-box;
border: 1px solid #ccc;
box-shadow: inset 0px 0px 8px -3px black;
-moz-box-shadow: 0 0 6px -3px black inset;
  box-sizing: border-box;
  height: 100%;
  width: 30%;
/* width:100%; */
  float: left;
  overflow-y: auto;
  }
.right-pannel{
	-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
        box-sizing: border-box;
border: 1px solid #ccc;
box-shadow: inset 0px 0px 8px -3px black;
-moz-box-shadow: 0 0 6px -3px black inset;
  box-sizing: border-box;
  height: 100%;
  width: 69%;
  float:right;
  overflow-y: auto;
  padding-bottom: 29px;
  }
  .toolbar{
    background: #f7f7f7;
/*     padding: 10px 10px 10px 10px; */
    border-bottom: 1px solid #6C7885;
    border-radius: 6px 6px 0px 0px;
    height: 28px;
  }

  #release-select{
    width:180px;
  }
  .tree-li{
    list-style-type: none;
  }



  .hide{
    display:none;
  }

 .desc-header{
 height: 28px;
 border-bottom: 1px solid #ccc;
background: #f7f7f7;
font-weight:bold;
overflow:hidden;
 }
.desc-expander{
	background:url("images/item_open.png");
		height:14px;
	width:14px;
	margin-left: 5px;
margin-top: 7px;
}

.desc-collapser{
	background:url("images/item_close.png");
		height:14px;
	width:14px;
	margin-left: 5px;
margin-top: 7px;
}

.desc-header-text{
	font-size: 12;
top: -2px;
position: relative;
}
.ds{
	display: inline-block;

}

#desc-wrapper{
height: 100px;	
}
#desc-container{
/* 	padding: 10px 20px 10px 20px; */
/* max-height: 100px; */
overflow-y: auto;
/* background: #FDFEF1; */
box-shadow: 0px 1px 12px 0px black inset;
height: 80px;
margin:0px;
clear: both;
-webkit-box-shadow: rgba(69,69,69,0.667) 0 0 6px inset;
-moz-box-shadow: rgba(69,69,69,0.667) 0 0 6px inset;
box-shadow: rgba(69,69,69,0.667) 0 0 6px inset;
background: #F7F8F9;
padding: 10px;
font-size: 12;
	
}

.desc-footer{
	border-radius:6px;
	height:10px;
	border-bottom:1px solid black;
}

#tc-container{
height: 100%;
overflow: hidden;
overflow-y: auto;
}

#feature-container{
height: 100%;
overflow: hidden;
overflow-y: auto;
}

.tc{
background-color: rgba(232,233,236,0.296);
background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,rgba(255,255,255,0.667)),color-stop(100%,rgba(153,153,153,0.198)));
background-image: -webkit-linear-gradient(top,rgba(255,255,255,0.667),rgba(153,153,153,0.198));
background-image: -moz-linear-gradient(top,rgba(255,255,255,0.667),rgba(153,153,153,0.198));
background-image: -o-linear-gradient(top,rgba(255,255,255,0.667),rgba(153,153,153,0.198));
background-image: -ms-linear-gradient(top,rgba(255,255,255,0.667),rgba(153,153,153,0.198));
background-image: linear-gradient(top,rgba(255,255,255,0.667),rgba(153,153,153,0.198));
	
/* border: 1px solid; */
}

.tc-header{
	height: 25px;
border-bottom: 1px solid black;
}
.tc-name{
	font-size: 14;
	margin: 5px 5px 5px 5px;
}
.tc-status{
	font-size: 14;
	width:16px;
	height:16px;
	float:right;
/* 	top: -22px; */
/* position: relative; */
	margin-right: 5px;
	background-position: center;
	border-radius: .296em;
	-webkit-border-radius: .296em;
	-moz-border-radius: .296em;
	-ms-border-radius: .296em;
	-o-border-radius: .296em;
	background-repeat: no-repeat;
	border:1px solid #8695A8;
}
.tc-status.notrun{
	background:url("images/sleep.png") no-repeat;
	background-position: center;
	background-color: #B1BBC8;
	opacity: 0.7;
}
.tc-status.inprogress{
	background:url("images/status_inprogress.gif") no-repeat;
	background-position: center;
/* background-color: #e4f5d1; */
}
.tc-status.block{
	background:url("images/warning_sm.png") no-repeat;
	background-position: center;
	background-color: #FFF6D7;
}
.tc-status.failed{
	background:url("images/x_sm.png")  no-repeat;
	background-position: center;
	background-color: #F5D1D2;
}
.tc-status.pass{
	background:url("images/check_sm.png") no-repeat;
background-color: #e4f5d1;
background-position: center;
}

.tc-description{
/* 	font-size: 13; */
/* 	margin: 5px; */
}

  .round-corner-all{
    border-radius: 6px;
  }
  
  .feature{
  font-size: 13;
  	padding:6px 5px 5px 5px;
  	background-color: rgba(232,233,236,0.296);

  border-bottom: 1px solid #6C7885;
  height: 49px;
  overflow:hidden;
  }
  
#release_select_chzn{
	margin-left: 2px;
margin-top: 1px;
} 
.refresh-icon{
	background:url("images/refresh-icon.gif");
	height: 20px;
width: 20px;
display: inline-block;
position: relative;
top: 3px;
}

.refreshing{
	background:url("images/LoadingIcon.gif");
}

.menu-bar{
height: 20px;
margin-left: auto;
margin-right: auto;
margin-bottom: 8px;
background: white;
border: 2px solid #ccc;
font-size: 15;
padding: 5px;
}

.menu-element{
	display: inline-block;
border-right: 2px solid #6C7885;
padding-right: 10;
padding-left: 10;
}

#test-viewer-menu{
	margin-left: 8px;
}

#test-metrics-menu{
	border: none;
}

.stats{
	width: 44px;
height: 14px;
float: right;
position: relative;
top: -14px;
}
.feature .title-bar{
	width: auto;
background: #E8E9EC;
height: 16px;
/* background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,rgba(255,255,255,0.667)),color-stop(100%,rgba(153,153,153,0.198))); */
/* background-image: -webkit-linear-gradient(top,rgba(255,255,255,0.667),rgba(153,153,153,0.198)); */
/* background-image: -moz-linear-gradient(top,rgba(255,255,255,0.667),rgba(153,153,153,0.198)); */
/* background-image: -o-linear-gradient(top,rgba(255,255,255,0.667),rgba(153,153,153,0.198)); */
/* background-image: -ms-linear-gradient(top,rgba(255,255,255,0.667),rgba(153,153,153,0.198)); */
/* background-image: linear-gradient(top,rgba(255,255,255,0.667),rgba(153,153,153,0.198)); */
}
.feature .summary{
	margin-top: 3px;
	margin-left: 11px;
	overflow:hidden;
}
.feature .jira-key{
width: 100px;
margin-left: 4px;
}
.stats .count{
	width: 40px;
text-align: center;
position: relative;
top: -13px;
	
}

.stats .bar{
/* border: 1px solid #6C7885; */
}
.loading-small{
	background:url("images/LoadingIcon.gif");
	height: 20px;
	width: 20px;
	position: relative;
top: -17px;
}

.tc{
	font-size: 13;
background-color: rgba(232,233,236,0.296);
border-bottom: 1px solid #ccc;
/* overflow: hidden; */
}

.tc .wrapper{
 height: 28px;
/*  border-bottom: 1px solid #6C7885; */
background: white;
/* overflow: hidden; */
 }
 
.tc-description{
width: 90%;
/* background: #E8E9EC; */
/* height: 30px; */
line-height: 2;
padding-left: 25px;
float: left;
}

.tc-stats{
	width: 44px;
height: 20px;
float: right;
position: relative;
top: 8px;
}

/**/


.tc-expander{
	background:url("images/item_open.png");
		height:14px;
	width:14px;
	margin-left: 5px;
margin-top: 7px;
float: left;
}

.tc-collapse{
	background:url("images/item_close.png");
		height:14px;
	width:14px;
	margin-left: 5px;
margin-top: 7px;
float: left;
}

.tc-steps{
/* 	padding: 10px 20px 10px 20px; */
max-height: 200px;
overflow-y: auto;
/* background: #FDFEF1; */
box-shadow: 0px 1px 12px 0px black inset;

clear: both;
/* -webkit-box-shadow: rgba(69,69,69,0.667) 0 1px 3px inset; */
/* -moz-box-shadow: rgba(69,69,69,0.667) 0 1px 3px inset; */
/* box-shadow: rgba(69,69,69,0.667) 0 1px 3px inset; */
border-top: 1px solid #ddd;
-webkit-box-shadow: 0 5px 3px -3px #e7e7e7 inset;
-moz-box-shadow: 0 5px 3px -3px #e7e7e7 inset;
box-shadow: 0 5px 3px -3px #e7e7e7 inset;
background: #f7f7f7;
padding: 10px;
font-size: 12;
margin:1px;
}

#pannel-wrapper{
	float:left;
	width:100%;
}

.left-pannel  { float:left; overflow:hidden; }
.right-pannel   { overflow:hidden; width:auto; float:none; }
.ui-resizable-helper { border: 2px dotted #00F; }
.handle{
	height:100%;
	float:left;
	width:5px;
	width: 9px;
background: url("images/dots-vertical.png") no-repeat;
background-position: center;
}






/***************************/


.feature .summary {
margin-top: 3px;
margin-left: 62px;
overflow: hidden;
float: left;
position: relative;
top: -47px;
z-index: 0;
border-radius: 6px;
padding-left: 10px;
font-size: 11;
}

.feature .jira-key {
width: 100px;
margin-left: 5px;
position: relative;
top: 6px;
font-size: 12;
}

.feature .title-bar{
width: 64px;
background: #E8E9EC;
height: 100%;
z-index: 2;
position: relative;
box-shadow: -4px 0px 10px 2px;
}

.stats {
width: 44px;
height: 14px;
float: none;
position: relative;
top: 9px;
left: 11px;
}

.feature {
font-size: 13;
padding: 0px 5px 0px 3px;
background-color: rgba(232,233,236,0.296);
border-bottom: 1px solid #6C7885;
height: 51px;
overflow: hidden;
margin-left: 2px;
padding-left: 0px;
font-weight: bold;
margin-bottom: 1px;
}
.stats .count {
width: 40px;
text-align: center;
position: relative;
top: -17px;
font-size: 11;
}

.loading-small{
	background:url("images/LoadingIcon.gif");
	height: 20px;
	width: 20px;
	position: relative;
top: 5px;
left: 21px;
border:none;
}

.stats .bar {
background: #F7F8F9;
}




.tc-description {
width: 90%;
margin-left: 28px;
float: left;
position: relative;
top: 1.2em;
line-height: 0;
padding-left: 0px;
font-weight: bold;
font-size: 0.9em;
}

.tc-stats {
width: 20px;
height: 20px;
float: right;
position: relative;
top: 6px;
}


.left-pannel{
	width:100%;
	padding-bottom: 29px;
}

#lp-wrapper{
	width:30%;
	height:100%;
	float:left;
	margin-right: 5px;
	padding-right: 2px;
	min-width:218px;
}

.ui-resizable-e{
		height:100%;
	float:left;
	width:7px;
background: url("images/dots-vertical.png") no-repeat;
background-position: center;
	-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
        box-sizing: border-box;
}

.ui-resizable-s {
cursor: s-resize;
height: 7px;
width: 100%;
bottom: -10px;
left: 0;
background: url("images/dots-horizontal.png") no-repeat;
background-position: center;
background-color:white;
margin-bottom: 5px;
box-shadow: 0px 1px 12px 0px black inset;
-webkit-box-shadow: rgba(69,69,69,0.667) 0 0 1px inset;
-moz-box-shadow: rgba(69,69,69,0.667) 0 0 1px inset;
box-shadow: rgba(69,69,69,0.667) 0 0 1px inset;
}

.left-pannel .ui-resizable-e{
	right:-50px;
}

/* ::-webkit-scrollbar { */
/*       width: 0px; */
/* } */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


.dropdown-menu{
	left: -30%;
	min-width: 60px;
}

.dropdown-menu li:hover{
	background-color:#E8E9EC;
}
.dropdown-menu li{
	border-radius:0px;
}


.tc-stats {
	width: auto;
	height: auto;
	float: right;
	position: relative;
	top: 5px;
	right: 8px;
	}
.dropdown-menu{ 
 	min-width: 60px; */
 } 



 .dropdown-toggle.ddm-notrun{ 
 } 
 .dropdown-toggle.ddm-inprogress{ 
 background-color: #B1BBC8;
  	 	background-image: -moz-linear-gradient(top,#B1BBC8,#acb6c1);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#B1BBC8),to(#acb6c1));
	background-image: -webkit-linear-gradient(top,#B1BBC8,#acb6c1);
	background-image: -o-linear-gradient(top,#B1BBC8,#acb6c1);
	background-image: linear-gradient(to bottom,#B1BBC8,#acb6c1); 
 } 
 .dropdown-toggle.ddm-block{ 
 	background-color: #e8e361;
 	 	background-image: -moz-linear-gradient(top,#e8e361,#ddd75d);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#e8e361),to(#ddd75d));
	background-image: -webkit-linear-gradient(top,#e8e361,#ddd75d);
	background-image: -o-linear-gradient(top,#e8e361,#ddd75d);
	background-image: linear-gradient(to bottom,#e8e361,#ddd75d);  
 } 
.dropdown-toggle.ddm-failed{
text-shadow:0px 0px;
	color: #454545; 
 	background-color: #ea6060;
 	background-image: -moz-linear-gradient(top,#ea6060,#d15757);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#ea6060),to(#d15757));
	background-image: -webkit-linear-gradient(top,#ea6060,#d15757);
	background-image: -o-linear-gradient(top,#ea6060,#d15757);
	background-image: linear-gradient(to bottom,#ea6060,#d15757); 
 } 
.dropdown-toggle.ddm-pass{
text-shadow:0;
	color: #454545;  
 background-color: #74c18b; 
  	background-image: -moz-linear-gradient(top,#74c18b,#468846);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#74c18b),to(#468846));
	background-image: -webkit-linear-gradient(top,#74c18b,#468846);
	background-image: -o-linear-gradient(top,#74c18b,#468846);
	background-image: linear-gradient(to bottom,#74c18b,#468846); 
}

.icon-refresh{
	width:20px;
	height:20px;
}
.icon-refresh:hover{
	webkit-box-shadow: inset 0px 0px 6px -3px skyblue !important;
	moz-box-shadow: inset 0px 0px 6px -3px skyblue !important;
	box-shadow: inset 0px 0px 6px -3px skyblue !important;
}
.add-tc{
	float: right;
margin-top: 3px;
margin-right: 3px;
}
.title-error{
	webkit-box-shadow: inset 0px 0px 12px -3px red !important;
	moz-box-shadow: inset 0px 0px 12px -3px red !important;
	box-shadow: inset 0px 0px 12px -3px red !important;
	
}
.alert {
padding: 8px 141px 8px 14px !important;
}

.detailsIcon {
background-repeat: no-repeat;
display: inline-block;
height: 16px;
margin-right: 2px;
width: 16px;
background: url(images/icon-fold.png) no-repeat 2px 3px transparent;
}

.detailsIcon.detailsOpen {
background: url(images/icon-fold.png) no-repeat 2px 3px transparent;
background-position: 3px -24px;
}

/**************************/