<div class="feature">
	<div class="title-bar">
		<a target="_blank" class="jira-key" href=""></a>
		<div class="stats">
			<div class="count">0/0</div>
			<div class="progress" style="width: 40px; height: 12px; border: 1px solid rgb(108, 120, 133);"></div>
		</div>
	</div>
	<div class="summary" title="" style="margin-right: 0px;"></div>
	<div class="item-control-buttons">
    	<i class="bt-ctrl icon-th close" style="position: absolute;left: -12px;top: 14px;"></i>
    	<div class="wrapper">
			<button type="button" class="btn btn-mini remove-feature " style="margin-top: 5px; float:right;"><i class="icon-trash"></i></button>
			<button type="button" class="btn btn-mini close-jira-btn " style="float: right;"><i class=""></i></button>
    	</div>
    </div>
</div>