<div class="feature">
	<div class="title-bar">
		<a target="_blank" class="jira-key" href=""></a>
		<div class="stats">
			<div class="count">0/0</div>
			<div class="progress" style="width: 40px; height: 12px; border: 1px solid rgb(108, 120, 133);"></div>
		</div>
	</div>
	<div class="summary" title="" style="margin-right: 0px;"></div>
	<button type="button" class="btn btn-mini remove-feature " style="display:none;margin-top: 5px; float:right;"><i class="icon-remove-circle"></i></button>
	<button type="button" class="btn btn-mini close-jira-btn " style="display: none;"><i class=""></i></button>
</div>