<style type="text/css">
.graph-container {
    display: table;
}
.main-container {
    display: table-cell;
    width: 100%;
    padding:8px;
}
.main-container #container{
    width:100%;
}
#InteropMetrics .graph-previews {
    display: table-cell;
    width: 300px;
    vertical-align: top;
    padding: 8px;
        position: relative;
top: -30px;
min-height: 580px;
/*background: red;*/
}

#InteropMetrics .graph-previews .graph{
   width: 320px; 
   height: 200px; 
    padding: 6px;

/*margin-bottom: 20px;*/
}
#InteropMetrics .graph-container{
width: 100%;
}
#InteropMetrics .graph-feature-cont{
    overflow: hidden;
    overflow-y: auto;
}

#InteropMetrics .graph-feature{
    display:inline-block;
}
#metricsContainer{
    margin-top: 30px;
}

#InteropMetrics .loading-big-block {
    position: absolute;
top: 94px;
left: 75px;
}

#InteropMetrics .link-exposer {
    width: 400px;
position: relative;
top: -22px;
left: 258;
height: 0px;
}
#InteropMetrics .report-tc-priority {
width: 30px;
float: right;
position: relative;
top: -20px;
margin-right: 108px;
box-shadow: 0px 0px 11px -3px inset;
border-radius: 6px;
text-align: center;
}

#InteropMetrics .tc .detailsIcon.fail {
border: 1px solid #E65C56;
box-shadow: #E65C56 0 25px inset
-moz-box-shadow: #E65C56 0 25px inset;
-webkit-box-shadow: #E65C56 0 25px inset;
}

#InteropMetrics .btn-group {
float: right;
position: relative;
top: -34px;
margin-right: 20px;
}

#InteropMetrics #refresh-graph {
/*float: right;
position: relative;
top: -34px;
margin-right: 40px;*/
display:none;
padding: 7px 0px 7px 5px;
border-top: 1px solid #ddd;
margin-left: -5px;
border-bottom: 1px solid #ddd;
cursor:pointer;
}

#InteropMetrics #refresh-graph:hover {
background: #f5f5f5;
}


#InteropMetrics .tc .detailsIcon.blocked {
   border: 1px solid #FFBC41;
box-shadow: #FFBC41 0 25px inset;
-moz-box-shadow: #FFBC41 0 25px inset;
-webkit-box-shadow: #FFBC41 0 25px inset; 
}
.startup{
    display: block;
    position: relative;

    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

#InteropMetrics .nav .active,#InteropMetrics .tab-content .active {
    border: inherit;
box-shadow: inherit;
-moz-box-shadow: inherit;
-webkit-box-shadow: inherit;
}


#InteropMetrics .tab-content {
overflow: hidden;
padding-top: 20px;
}

#InteropMetrics #metrics-controls {
position:relative;
top: -15px;
}
#InteropMetrics #metricsContainer {
margin-top:-10px !important;
}
.btn-pill {
    cursor:default;
    width: 160px;
position: relative;
top: -15px;
margin-left: auto;
margin-right: auto;
}
.btn-pill div
{
display: inline-block;
padding: 5px 14px;
background-color: #fff;
border: 1px solid #ddd;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}

.btn-pill div:first-child
{
-webkit-border-radius: 15px 0px 0px 15px;
-moz-border-radius: 15px 0px 0px 15px;
border-radius: 15px 0px 0px 15px;
}

.btn-pill div:last-child
{
-webkit-border-radius: 0px 15px 15px 0px;
-moz-border-radius: 0px 15px 15px 0px;
border-radius: 0px 15px 15px 0px;
margin-left: -5px;
}

.btn-pill div:hover{
    text-decoration: none;
    background-color: #f5f5f5;
    cursor:pointer;
}

.btn-pill .active{
    border: 1px solid #ddd !important;
    box-shadow: #d2e9fa 0 0 50px inset !important;
-moz-box-shadow: #d2e9fa 0 0 50px inset !important;
-webkit-box-shadow: #d2e9fa 0 0 50px inset !important;
}


.teams {
    overflow:hidden;
    overflow-y:auto;
}

.team {
padding: 10px;
border-top:1px dashed #ccc;
}

.team-name {
    font-size: 20px;
margin: 0px 0px 9px 22px;
}

#InteropMetrics .progress {
    display: inline-table;
margin-bottom: 0px !important;
margin-top: 15px;
margin-left: 10px;
float: right;
margin-right: 2px;
width: 120px; 
}

#InteropMetrics .feature-Info {
    margin-bottom: 8px;
}

.feature-name {
display: inline-table;
font-weight: bold;
}

.report-feature-tcs {
padding: 5px;
box-shadow: 0px 0px 11px -3px inset;
}
.report-tc{
    position:relative;
    padding: 3px 0px 3px 9px;
}
.report-tc:nth-child(odd){
    background:#ddd;
}
.report-tc:nth-child(even){
    background:#eee;
}
.report-tc-status {
    float: right;
position: absolute;
top: 4px;
right:0px;
width:80px;
}
.report-tc-status-inner {
    margin-left: 6%;
}

#reportFilter{
margin-right: 54px;
position: absolute;
right: 29px;
top: 115px;
}
.report-filter input{
margin-right: 10px;
margin-left: 5px;
margin-bottom: 5px;
}
.report-filter:hover {
    background: #034869;
    color:white;
}

#InteropMetrics #report #refresh {
    margin-left: auto;
margin-right: auto;
width: 15px;
border: 1px solid;
padding: 5px;
padding-bottom: 0px;
cursor:pointer;
}
#InteropMetrics #report #refresh:hover {
    background: #ddd;
}
</style>
<div id="InteropMetrics">

    <ul class="nav nav-tabs" id="interopTabs" style=" margin-bottom: 0px; ">
        <li class="active">
            <a href="#rlscontrol">Release Overview</a>
         </li>
         <li class="">
            <a href="#xteams" style=" visibility: hidden; ">Teams Overview</a>
         </li>
          <li class="">
            <a href="#report" id='rep' style=" visibility: hidden; ">Report</a>
         </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="rlscontrol">

                    <div id="metrics-controls">
                        <div>
                                <ul class="nav nav-pills ior" id="interopTabs" style=" margin-bottom: 0px; ">
                                    <li class="dropdown iorls">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Select a Release<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                      </li>
                                </ul>
                             <button type="button" id="get-perma-link" class="btn btn-mini permalink" disabled="true"><i class="icon-permalink"></i></button><div class="link-exposer"></div>
                        </div>
                        <div>
                            <div id="alertNoMetrics" class="alert alert-error hide" stlye="width:200px;">
                                There was an error pulling metrics
                            </div>
                        </div>

                        <div class="btn-pill" style="visibility:hidden">
                          <div id="global" class="active" href="#">General</div>
                            <a id="refresh-graph" disabled><i class="icon-refresh"></i></a>
                          <div id="byitem" href="#">By Item</div>
                        </div>
                    </div>
                    <img src="assets/images/loading.gif" id="loading-indicator" style="margin-top: 10%; margin-left: 40%; display:none; position: absolute; z-index: 1000;" />
                    
                    <div id="metricsContainer" class="startup" >

                        <div class="graph-container">
                            <div class="main-container">
                                <div id="container" style="width: 100%">
                                    <div id="executionContainerr" class="graph round-corner-all" style="margin: 0 auto;"></div>
                                </div>
                            </div>
                            <div class="graph-previews round-corner-all">
                                <div id="dailyExecutionContainerr" style="width: 300px; height: 200px" class="graph round-corner-all"></div>
                                <!-- <div id="tc-container" style="width: 300px; height: 200px" class="graph round-corner-all"> -->
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>





        </div>
      <div class="tab-pane" id="xteams">

                    <div id="metrics-controls">
                        <div>
                       <!--       <button type="button" id="get-perma-link" class="btn btn-mini permalink" disabled="true"><i class="icon-permalink"></i></button><div class="link-exposer"></div> -->
                                 <ul class="nav nav-pills" id="interopTabs" style=" margin-bottom: 0px; ">
                                     <li class="dropdown ioteams">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Select a Team <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li class=""><a href="#xteams" data-toggle="tab"></a></li>
                                        </ul>
                                      </li>
                                </ul>
                        </div>
                        <div>
                            <div id="alertNoMetrics" class="alert alert-error hide" stlye="width:200px;">
                                There was an error pulling metrics
                            </div>
                        </div>

                        <div class="btn-pill" style="visibility:hidden">
                          <div id="global" class="active" href="#">General</div>
                            <a id="refresh-graph" disabled><i class="icon-refresh"></i></a>
                          <div id="byitem" href="#">By Item</div>
                        </div>

                        <!-- <input type="text" id="feature-filter" style="display:none; float:right;top: -29px;position: relative;margin-right: 30px;"/> -->
                    </div>
                    <img src="assets/images/loading.gif" id="loading-indicator" style="margin-top: 10%; margin-left: 40%; display:none; position: absolute; z-index: 1000;" />
                    
                    <div id="metricsContainer" class="startup" >

                        <div class="graph-container">
                            <div class="main-container">
                                <div id="container" style="width: 100%">
                                    <div id="executionContainerr" class="graph round-corner-all" style="margin: 0 auto;"></div>
                                </div>
                            </div>
                            <div class="graph-previews round-corner-all">
                                <div id="dailyExecutionContainerr" style="width: 300px; height: 200px" class="graph round-corner-all"></div>
                                <!-- <div id="tc-container" style="width: 300px; height: 200px" class="graph round-corner-all"> -->
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>



      </div>
      <div class="tab-pane" id="report">
        <div class="report-controls" style=" padding-bottom: 23px; box-shadow: 0px 4px 14px -9px black; z-index: 999999999; position: relative;">
         <ul class="nav nav-pills" style=" margin-bottom: 0px; float: left;">
             <li class="dropdown repioteams">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">Team <b class="caret"></b></a>
                <ul class="dropdown-menu">
                </ul>
              </li>
        </ul>

        <ul class="nav nav-pills" style=" margin-bottom: 0px; float: left;">
             <li class="dropdown reppriority">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">Priority <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="addedp"><a href="" class='priorityall' priority="all" >All Priorities</a></li>
                </ul>
              </li>
        </ul>

         <ul class="nav nav-pills" style=" margin-bottom: 0px; float: left;">
             <li class="dropdown repstates">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">State <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class=""><a href="" statusid="all">All States</a></li>
                    <li class=""><a href="" statusid="0">Not Run</a></li>
                    <li class=""><a href="" statusid="1">In Progress</a></li>
                    <li class=""><a href="" statusid="2">Blocked</a></li>
                    <li class=""><a href="" statusid="3">Failed</a></li>
                    <li class=""><a href="" statusid="4">Passed</a></li>
                </ul>
              </li>
        </ul>



        <div class="" id="refresh"><i class="icon-refresh"></i></div>
    </div>
        <div class="teams" style="margin-top: 0px;">
 <!--                                      <ul class="nav nav-pills" id="reportFilter" style=" margin-bottom: 0px; ">
                                    <li class="dropdown reportFilter">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Filter<b class="caret"></b></a>
                                        <ul class="dropdown-menu pull-right" style="">
                                            <li class="report-filter" style=""><input type="checkbox"/>Not Run</li>
                                            <li class="report-filter"><input type="checkbox"/>In Progress</li>
                                            <li class="report-filter"><input type="checkbox"/>Blocked</li>
                                            <li class="report-filter"><input type="checkbox"/>Failed</li>
                                            <li class="report-filter"><input type="checkbox"/>Pass</li>
                                        </ul>
                                      </li>
                                </ul> -->
        </div>
      </div>
      
    </div>






    <div id="info-tc-modal-io" class="modal" style="display:none;">
        <div class="modal-header">
            <h4 class="feature-title">Test Cases</h4>
        </div>
        <div class="modal-body">
            <div id="tc-container" style="width: 100%; height: 200px" class="graph round-corner-all" ></div>
        </div>
        <div class="modal-footer">
            <div class="alert alert-error hide">
                There was an error, please try again...
            </div>
            <div class="btn close-info-tc-modal" >Close</div>
        </div>
    </div>

</div>