<style type="text/css">
.graph-container {
    display: table;
}
.main-container {
    display: table-cell;
    width: 100%;
    padding:8px;
}
.main-container #container{
    width:100%;
}
#tcMetrics .graph-previews {
    display: table-cell;
    width: 300px;
    vertical-align: top;
    padding: 8px;
        position: relative;
top: -114px;
min-height: 580px;
/*background: red;*/
}

#tcMetrics .graph-previews .graph{
   width: 320px; 
   height: 200px; 
    padding: 6px;

/*margin-bottom: 20px;*/
}
#tcMetrics .graph-container{
width: 100%;
}

#tcMetrics .graph-feature{
    display:inline-block;
}
#metricsContainer{
    margin-top: 30px;
}

#tcMetrics .loading-big-block {
    position: absolute;
top: 94px;
left: 75px;
}

#tcMetrics .link-exposer {
    width: 400px;
position: relative;
top: -22px;
left: 258;
height: 0px;
}
#tcMetrics #tc-container {
/*background: red;
width: 333px;
height: 400px;
position: relative;
top: -23px;
right: 341px;*/
}

#tcMetrics .tc .detailsIcon.fail {
border: 1px solid #E65C56;
box-shadow: #E65C56 0 25px inset
-moz-box-shadow: #E65C56 0 25px inset;
-webkit-box-shadow: #E65C56 0 25px inset;
}

#tcMetrics .btn-group {
float: right;
position: relative;
top: -34px;
margin-right: 400px;
}

#tcMetrics .tc .detailsIcon.blocked {
   border: 1px solid #FFBC41;
box-shadow: #FFBC41 0 25px inset;
-moz-box-shadow: #FFBC41 0 25px inset;
-webkit-box-shadow: #FFBC41 0 25px inset; 
}
.startup{
    display: block;
    position: relative;

    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
</style>
<div id="tcMetrics">
    <div id="metrics-controls">
        <div ><h3>Select Iteration:</h3></div>

        <div>
            <select data-placeholder="Select an Iteration..." id="metrics-release-select" tabindex="3">
                <option>Loading...</option>
            </select>
             <button type="button" id="get-perma-link" class="btn btn-mini permalink" disabled="true"><i class="icon-permalink"></i></button><div class="link-exposer"></div>
        </div>
        <div>
            <div id="alertNoMetrics" class="alert alert-error hide" stlye="width:200px;">
                There was an error pulling metrics
            </div>
        </div>
    </div>
     <div class="btn-group" data-toggle="buttons-radio">
      <button type="button" id="global" class="btn btn-primary active" disabled>Global</button>
      <button type="button" id="byitem" class="btn btn-primary" disabled>By Item</button>
    </div>
    <img src="assets/images/loading.gif" id="loading-indicator" style="margin-top: 10%; margin-left: 40%; display:none; position: absolute; z-index: 1000;" />
    <div id="metricsContainer" class="startup" >

        <div class="graph-container">
            <div class="main-container">
                <div id="container" style="width: 100%">
                    <div id="executionContainer" class="graph round-corner-all" style="margin: 0 auto;"></div>
                </div>
            </div>
            <div class="graph-previews round-corner-all">
                <div id="dailyExecutionContainer" style="width: 300px; height: 200px" class="graph round-corner-all"></div>
                <div id="tc-container" style="width: 300px; height: 200px" class="graph round-corner-all">
                </div>
            </div>
        </div>
    </div>
</div>