<style type="text/css">
.graph-container {
    display: table;
}
.main-container {
    display: table-cell;
    width: 100%;
    padding:8px;
}
.main-container #container{
    width:100%;
}
.graph-previews {
    display: table-cell;
    width: 300px;
    vertical-align: top;
    padding: 8px;
}

.graph-previews .graph{
   width: 320px; 
   height: 200px; 
    padding: 6px;
/*margin-bottom: 20px;*/
}

#metricsContainer{
    margin-top: 30px;
}

#tcMetrics .loading-big-block {
    position: absolute;
top: 94px;
left: 75px;
}

#tcMetrics .link-exposer {
    width: 400px;
position: relative;
top: -22px;
left: 258;
height: 0px;
}
</style>
<div id="tcMetrics">
    <div id="metrics-controls">
        <div ><h3>Select Iteration:</h3></div>

        <div>
            <select data-placeholder="Choose an Iteration..." id="metrics-release-select" tabindex="3">
                <option></option>
            </select>
             <button type="button" id="get-perma-link" class="btn btn-mini permalink" disabled="true"><i class="icon-permalink"></i></button><div class="link-exposer"></div>
        </div>
        <div>
            <div id="alertNoMetrics" class="alert alert-error hide" stlye="width:200px;">
                There was an error pulling metrics
            </div>
        </div>
    </div>
    <div id="metricsContainer" style="display:none; " >
        <div class="graph-container">
            <div class="main-container">
                <div id="container" style="width: 100%">
                    <div id="executionContainer" class="graph round-corner-all" style="margin: 0 auto;"></div>
                </div>
            </div>
            <div class="graph-previews round-corner-all">
                <div id="dailyExecutionContainer" class="graph round-corner-all"></div>
            </div>
        </div>
    </div>
    <div class="progress" id="metricsProgressBar" style="display: none">
        <div class="bar" style="display: none"></div>
    </div>
</div>