<div id="tcViewer">
    <div class="left-center-panel">
        <div id="lp-wrapper">
            <div class='left-pannel round-corner-all'>
              <!--   <div class="toolbar iteration-holder-name">
                    <div id="holder"class="release-holder"><i class=" icon-chevron-left icon-white" style="visibility:hidden"></i><div class="iteration-holder-name">Releases</div></div>
                    
                </div> -->
                <div id="releases-container">
                </div>
           <!--      <div id="iterations-container" style="display:none;">
                </div> -->
                <div id="feature-container" style="display:none;">
                <div class="feature-actions">
                    <div class="feature-buttons">
                        <input type="text" id="feature-filter" />
                             <div id="add-feature" type="button" title="Add new Item" class="" disabled="true">
                                <i class="icon-plus-sign icon-white"></i>
                            </div>
                         <div id="filter-completed-features" title="Filter completed features" type="button" class="" data-toggle="button" disabled="true">
                                <i class="icon-filter icon-white"></i>
                            </div>
                    </div>
                </div>
                    <div class="theFeatures">
                    </div>
                </div>
            </div>
        </div>
        <div class='right-pannel round-corner-all'>
            <div id="description">
                <div class="desc-header">
                    <div id="desc-expander" class="desc-expander detailsIcon ds"></div>
                    <div type="button" title="Add new Item" class="add-tc" disabled="true">
                        <i class="icon-plus-sign"></i>
                    </div>
                    <div type="button" title="Clone tcs" class="copy-tc" disabled="true">
                        <i class="icon-copy"></i>
                    </div>
                    <!-- <button type="button" class="btn btn-mini add-tc" disabled="disabled">Add TC</button> -->
                    <div class="desc-header-text ds"></div>
                    <!-- <div id="tc-refresh" class="icon-refresh"></div> -->
                </div>
                <div id="desc-wrapper" style="display: none; width:100%;">
                    <pre id="desc-container"  class=""></pre>
                </div>
            </div>

            <div id="tc-container" class="round-corner-all">
            <ul id="demo3"></ul>
            </div>
        </div>
    </div>
    <div id="rp-wrapper" style="display:none;">

        <div id="copy-tc-mod" style="display:none;">

        </div>
    </div>


    <div id="new-feature-modal" class="modal" style="display:none;">
        <div class="modal-header">
            <h4 class="feature-title">Create Item</h4>
        </div>
        <div class="modal-body">
            <div class="feature-fields">
                <h7>Title:</h7>
                <input class="new-feature-title" type="text" style=" width: 100%; "></input>
                <br/>
                <h7>Description:</h7>
                <textarea class="new-feature-desc" style=" width: 100%; height:200px; resize: none;"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <div class="alert alert-error hide">
                There was an error, please try again...
            </div>
            <a href="#" class="btn cancel"  >Close</a>
            <a href="#" class="btn btn-primary save-feature" data-loading-text="working...">Add</a>
        </div>
    </div>



</div>