<div class="left-center-panel">
    <div id="lp-wrapper">
        <div class='left-pannel round-corner-all'>
            <div class="toolbar">
                <select data-placeholder="Choose an Iteration..."
                        id="release-select" tabindex="3">
                    <option></option>
                </select>
                <div class="icon-refresh"></div>
            </div>
            <div id="feature-container"></div>
        </div>
    </div>
    <div class='right-pannel round-corner-all'>
        <div id="description">
            <div class="desc-header">
                <div id="desc-expander" class="desc-expander detailsIcon ds"></div>
                <div class="desc-header-text ds">Issue description...</div>
                <button type="button" class="btn btn-mini add-tc" disabled="disabled">Add TC</button>
                <button type="button" class="btn btn-mini del-tc-trigger del-tc-t" data-toggle="button" disabled="disabled">Remove Tcs</button>
            </div>
            <div id="desc-wrapper" style="display: none; width:100%;">
                <pre id="desc-container"  class=""></pre>
            </div>
        </div>
        <div id="tc-container" class="round-corner-all">
        </div>
    </div>
</div>
<div id="rp-wrapper" style="display:none;">
    <div class="modal-body">
        <h7>Title:</h7>
        <input class="new-tc-title" type="text" style=" width: 100%; "></input>
        <br/>
        <h7>Description:</h7>
        <textarea class="new-tc-desc" style=" width: 100%; height:200px; resize: none;"></textarea>
    </div>
    <div class="modal-footer">
        <div class="alert alert-error hide">
            There was an error, please try again...
        </div>
        <label class="checkbox inline" style="float:left;margin-left:5px;">
            <input type="checkbox" class="proposed" /> Save as proposed</label>
        <a href="#" class="btn cancel">Close</a>
        <a href="#" class="btn btn-primary save">Save changes</a>
    </div>
</div>