<style>
	
	#interOp .team{
		width: 290px;
		margin-bottom: 20px;
		display: inline-block;
margin-left: 20px;
	}

	#interOp .team .name {
				text-align: center;
		font-size: 25px;
		margin-bottom: 5px;
		border-bottom: 2px solid #002434;
		padding-bottom: 5px;
	}

	#interOp .team button {
		float: right;
		margin: 10px;
	}

	#interOp .team input {
		width: 290px;
	}

textarea { 
    resize: none; 
    width: 290px;
    height: 150px;
}

#sendreport {
	border-bottom: 3px solid #ccc;
	cursor:pointer;
	position: absolute;
	top: 0px;
left: 200px;
	display: none;
}
</style>
<div id="interOp" style="display:none">
	<div id="sendreport" class="" style="margin-top: 5px; float:right;"><span class="tex">Send Report</span><i class="icon-share-alt"></i></div>
	<div class="teams">
	</div>
</div>