<style type="text/css">
#ReleaseImplementation .graph-container {
    display: table;
}
#ReleaseImplementation .main-container {
    display: table-cell;
    width: 100%;
    padding:8px;
}
#ReleaseImplementation .main-container #container{
    width:100%;
}
#ReleaseImplementation .graph-previews {
    display: table-cell;
    width: 0px;
    vertical-align: top;
    padding: 0px;
}

#ReleaseImplementation .graph-previews .graph{
   width: 0px; 
   height: 0px; 
    padding: 0px;
/*margin-bottom: 20px;*/
}

#ReleaseImplementation #metricsContainer{
	width: 50%;
    margin-top: 30px;
    display:block;
}

#ReleaseImplementation .graph-container {
	width::100%;
}
</style>
<div id="ReleaseImplementation" style="display:none">
	    <div id="metricsContainer" style="display:block; " >
        <div class="graph-container">
            <div class="main-container">
                <div id="container" style="width: 100%">
                    <div id="executionContainer" class="graph round-corner-all" style="margin: 0 auto;"></div>
                </div>
            </div>
<!--             <div class="graph-previews round-corner-all">
                <div id="dailyExecutionContainer" class="graph round-corner-all"></div>
            </div> -->
        </div>
    </div>
	<div id="tc-container"class="suite-tcs">
	<div>
</div>