<div class="item" item-id="0" style="display: block;">
    <div class="title-bar">
        <!-- <a target="_blank" class="jira-key" href="http://www.mulesoft.org/jira/browse/ION-1115">ION-1115</a> -->
        <div class="stats">
            <div class="count">15</div>
            <!-- <div class="progress" style="width: 40px; height: 12px; border: 1px solid rgb(108, 120, 133);"> -->
<!--             </div> -->
        </div>
    </div>
    <div class="summary" title="" style="margin-right: 0px;">lalala</div>
</div>