<div class="item" item-id="0" style="display: block;">
    <div class="title-bar">
        <div class="stats">
            <div class="count">15</div>
        </div>
    </div>
    <div class="summary" title="" style="margin-right: 0px;">lalala</div>
    <div class="item-control-buttons">
    	<i class="bt-ctrl icon-th close" style="position: absolute;left: -12px;top: 14px;"></i>
    	<div class="wrapper">
		    <button id="item-add" title="Add new Tcs to suite" type="button" class="btn btn-mini" ><i class="icon-plus-sign"></i></button>
		    <button id="item-remove" type="button" class="btn btn-mini" ><i class="icon-trash"></i></button>
    	</div>
    </div>
</div>